@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

/* Style the track (background) */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Light gray background */
    border-radius: 10px;
}

/* Style the thumb (scroll indicator) */
::-webkit-scrollbar-thumb {
    background: #d4d4d4;
    /* Darker gray for thumb */
    border-radius: 10px;
}

/* Hover effect on the thumb */
::-webkit-scrollbar-thumb:hover {
    background: #a1a0a0;
    /* Even darker gray when hovered */
}